*{
    margin: 0em;
    padding: 0em;
}

html, body{
    max-width: 2048px;
    min-width: 1024px;
    margin: 0em 5% 0em;
}

#header{
    background-color: orange;
    color: brown;
    padding: 1em 0em 1em 0em;
    text-align: center;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
}

#breadcrumb{
    background-color: orange;
    font-size: 1em;
    padding: 1em;
    text-align: right;
}

#breadcrumb a{
    
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black
}

#breadcrumb a:hover{
    font-weight: bold;
}

#menu{
    background-color: khaki;
    float: left;
    width: 20%;
    padding: 1em;
    font-size: 1.5em;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#menu dl dt,#menu dl dd{
    padding-bottom: 1em;
}

#menu dl dt a,#menu dl dd a{
    text-decoration: none;
    color: black;
}

#menu dl dd{
    padding-left: 1em;
}

#menu dl dt a:hover, #menu dl dd a:hover{
    color: red;
}

#menuLoginRegistrazione{
    display: none;
}

#content{
    margin-left: 25%;
    text-align: center;
}

#contentLoginRegistrazione{
    padding: 5% 15% 5%;
}

#footer{
    clear: left;
    margin: 1em;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
