* {
    padding: 0;
    margin: 0;
    line-height: 1.5em;
}

body {
    font-family: Georgia, "Times New Roman", sans-serif;
}

.col-ds-4,
.general_image,
.news_container,
.hidden,
.map,
.general_form,
.general_button,
.admin_login,
.print_hide {
    display: none;
}

#menu,
#breadcrumb,
#to_top_button,
#footer>p {
    display: none;
}

h2 {
    padding: 1em;
}

.col-ds-2 {
    padding-top: 1em;
}

.col-ds-2>dl {
    display: block;
    width: 50%;
    float: left;
    text-align: center;
}

.element {
    overflow: hidden;
}

.element>div {
    float: left;
}

.product_image_container {
    width: 15%;
}

.product_text_container {
    width: 80%;
}

.product {
    border-bottom: 1px solid black;
}

.product_image {
    width: 5em;
    height: auto;
}

ol>li {
    margin-left: 1em;
}