*{
    margin: 0em;
    padding: 0em;
}

html, body{
    max-width: 2048px;
    min-width: 1024px;
    margin: 0em 7% 0em;
    background-color: #FFEECC;
    height: 100%;
}

#logo{
    height: 10em;
    float: left;
}

#header{
    background-color: #EC7205;
    color: #924500;
    padding: 1em 0em 1em 0em;
    text-align: center;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
}

#breadcrumb{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #BC5800;
    color:white;
    font-size: 1em;
    padding: 1em;
    height: 4.5em;
}

#path{
    float: left;
}

#login{
    float: right;
    padding-right: 1em;
}

#login form label, #login form input{
    margin: 0.5em;
}

#login span{
    text-align: center;
}

#breadcrumbRegistrazione{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #BC5800;
    color:white;
    font-size: 1em;
    padding: 1em;
}

#breadcrumbRegistrazione a{ 
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
}

#breadcrumbRegistrazione a:hover{
    text-decoration: underline;
}

#menu{
    clear: both;
    float: left;
    width: 15%;
    padding: 1em;
    font-size: 1.5em;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#menu dl dt{
    padding-bottom: 1em;
}

#menu dl dt a{
    text-decoration: none;
    color: black;
}

/*

#menu dl dt a:visited{
    color: purple;
}

Da rivedere: non funziona*/

#menu dl dt a:hover{
    color: red;
}

#menuLoginRegistrazione{
    display: none;
}

#content{
    background-color: #FFF7E6;
    margin-left: 20%;
    padding: 1% 1%;
    text-align: center;
    min-height: 58.8%;
}

#contentLoginRegistrazione{
    padding: 5% 15% 5%;
}

#footer{
    clear: left;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #BC5800;
    color:white;
}

#informazioniFooter{
    margin-bottom: 2em;
}

form{
    font-family: Arial, Helvetica, sans-serif;
}

form legend{
    text-align: center;
}

#fieldsetLogin{
    margin: 0em 25% 0em;
}

form fieldset{
    padding: 1em 5% 1em;
    border: 1px solid brown;
}

form label, form input{
    margin: 1em;
}