* {
    margin: 0em;
    padding: 0em;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    min-width: 360px;
    margin: auto;
    background-color: #FFAC61;
}


/*general*/

.box {
    overflow: hidden;
}

.box>* {
    float: left;
    display: inline-block;
}

.title_column,
.full_column,
.menu_column,
.body_column,
.footer_column,
.footer_wrapper {
    width: 100%;
}

.logo_column {
    width: 75%;
}

.admin_column {
    width: 80%;
    padding-top: 1em;
    padding-left: 10%;
    padding-right: 10%;
}

.hide {
    display: none;
}

.center {
    text-align: center;
}

dt {
    font-weight: bold;
}

.hidden {
    font-size: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.mobile_hidden {
    position: absolute;
    left: -999999em;
    overflow: hidden;
}

.element {
    background-color: #FFF7E6;
    border: 0.1em solid #FFAC61;
    margin: 1em;
    width: auto;
}

.element p {
    padding: 1em 1em 0.5em 1em;
}

.element img {
    padding: 1em 1em 0.5em 0.5em;
    width: 100%;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.element h3,
h2 {
    padding-top: 0.5em;
}


/*header*/

#header {
    background-color: #EC7205;
    color: #FFFFFF;
    outline: none;
}

#header h1 {
    font-size: 1.4em;
    text-align: center;
    padding: 0.4em;
}

#logo {
    max-height: 4em;
    max-width: 9em;
    font-size: 1.5em;
    text-align: center;
    display: block;
}


/*breadcrumb*/

#breadcrumb {
    background-color: #BC5800;
    color: white;
}

#breadcrumb p {
    font-size: 1em;
    padding: 0.5em;
}


/*content+lateralbar*/

#general_container {
    background-color: #FFF7E6;
}


/*menu*/

.menu_icon {
    border-left: 2px solid #bc5800;
    border-bottom: 2px solid #bc5800;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: 1.4em 2em 1.4em 2em;
    min-width: 48px;
}

#menu {
    font-size: 1.5em;
    overflow: hidden;
    margin-bottom: 1em;
}

#menu ul li {
    list-style-type: none;
    text-align: center;
    padding: 0em;
    border-bottom: 2px solid #bc5800;
    padding: 0.4em 0em 0.4em 0em;
}

#menu ul li a {
    color: black;
    float: left;
    display: block;
    text-align: center;
}

#menu ul li a:visited {
    color: purple;
}

#menu ul li a:hover {
    color: red;
}

.bar1,
.bar2,
.bar3 {
    width: 2.75em;
    height: 0.31em;
    background-color: #333;
    margin: 0.44em 0em;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: translate(0em, 0.75em) rotate(-45deg);
    -moz-transform: translate(0em, 0.75em) rotate(-45deg);
    -ms-transform: translate(0em, 0.75em) rotate(-45deg);
    -o-transform: translate(0em, 0.75em) rotate(-45deg);
    transform: translate(0em, 0.75em) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: translate(0em, -0.75em) rotate(45deg);
    -moz-transform: translate(0em, -0.75em) rotate(45deg);
    -ms-transform: translate(0em, -0.75em) rotate(45deg);
    -o-transform: translate(0em, -0.75em) rotate(45deg);
    transform: translate(0em, -0.75em) rotate(45deg);
}

#menu.mobile {
    position: relative;
    margin-bottom: 0em;
}

#menu.mobile li a {
    float: none;
    display: block;
}


/*news*/

.news_container {
    border: 1px solid;
    margin: 1em;
    padding: 1em;
    text-align: center;
    overflow: hidden;
}

.news_title {
    font-size: 1.5em;
    font-weight: bold;
}

.news_content {
    padding-bottom: 1em;
}


/*content*/

.content {
    background-color: white;
    text-align: center;
    float: right;
    font-size: 120%;
}

.content p {
    padding: 0.5em;
}

.content>dl {
    padding: 1em;
}

.content>h2 {
    color: red;
    padding-top: 0.5em;
}


/*contatti*/

.contatti p,
.contatti ul,
.contatti address {
    padding: 1em 1em 1em 1em;
}

.contatti ul {
    list-style: none;
}

.map_container {
    width: auto;
    padding: 0 1em 1em 1em;
}

#maps {
    width: 100%;
    height: 20em;
    display: block;
    text-align: center;
}

#maps_icon {
    background-image: url("../images/navigation.png");
    width: 2em;
    height: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0em;
}

.general_image {
    width: 80%;
    height: auto;
}


/*prodotti*/

#ricerca_prodotti {
    width: 100%;
}

#ricerca_prodotti label,
input {
    margin: 0.3em;
}

.product {
    list-style-type: none;
}

.product_Img_Container {
    width: 100%;
}

.product_Text_Container {
    width: 100%;
    padding-bottom: 0.7em;
}

.product_image {
    max-width: 12em;
}


/*buttons and forms*/

.general_button {
    background-color: #a73f2d;
    border: 1px solid #241d13;
    cursor: pointer;
    color: white;
    font-size: 0.95em;
    font-weight: bold;
    min-width: 2em;
    max-width: 100%;
    width: fit-content;
    padding: 0.6em 10%;
    border-radius: 4px;
}

.anchor_button {
    margin: 0.5em;
    text-decoration: none;
    font-size: 1em;
}

.general_button:hover {
    background-color: #d4a8a1;
}

.general_button:active {
    position: relative;
    top: 1px;
}

.general_input {
    width: 62%;
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 4px;
}

#login_input {
    width: 68%;
}

#nav_page {
    padding-bottom: 0.5em;
}

#nav_page a {
    display: inline-block;
}

.input_line p {
    width: 25%;
    min-width: 4.6em;
    padding-left: 0.5em;
    display: inline-block;
}

.input_line {
    text-align: center;
}

#fieldset_login {
    border: 2px solid white;
}

#fieldset_login>* {
    padding: 0.2em;
}

#submit_login_form {
    margin-bottom: 0.5em;
}

.inline {
    display: inline-block;
}

#search_error {
    display: inline;
    padding: 0 0 0 0;
}

#login_admin {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}

#login_admin>a {
    padding: 1.2em 2% 1.2em 2%;
}

#admin_login_form {
    width: 100%;
}

#admin_login_form input[type=submit] {
    padding: 1em;
}

#exit_login_form {
    padding: 1.2em;
    margin-left: 2em;
}

#login_error {
    position: absolute;
    top: 0;
    left: 13em;
    right: 7em;
    z-index: 1;
    height: 5.5em;
    background-color: red;
    text-align: center;
}

#text_error {
    position: absolute;
    left: 0;
    top: 0.2em;
    font-size: 1.4em;
    color: white;
}

.close {
    position: absolute;
    right: 1em;
    top: 0.5em;
    width: 3em;
    height: 3em;
    background-image: url('../images/close.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.general_form {
    margin: 0 0.5em 0.5em 0.5em;
    width: auto;
}

.login_logout_form {
    margin: 0 0.5em 0.5em 0.5em;
    width: 100%;
}

#edit_form {
    text-align: left;
}

#edit_form textarea {
    resize: horizontal;
    width: 97%;
}

#edit_form * {
    padding: 0.5em 0.5em 0.5em 0.5em;
}

#edit_form li {
    margin-left: 1em;
}

.input_textarea>* {
    display: block;
}

.general_textarea {
    padding-left: 1em;
}

.input_suggestion {
    font-size: 0.9em;
}

.login_buttons {
    display: inline-block;
    text-align: center;
    width: 45%;
}


/*footer*/

#footer {
    background-color: #BC5800;
    color: white;
}

#footer img {
    display: block;
    margin: 1em auto 1em auto;
}

#footer dl {
    text-align: center;
    padding-top: 1em;
}

#footer>p {
    padding-top: 1em;
    padding-bottom: 1em;
}

.footer_element {
    display: block;
    text-align: center;
}


/*TO TOP PROPERTIES*/

.to_top_button {
    position: fixed;
    bottom: 1em;
    right: 1.5em;
    background-image: url("../images/totop.png");
    width: 2em;
    height: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0em;
    min-height: 48px;
    min-width: 48px;
    color: transparent;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* TABLET */


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media only screen and (min-width: 700px) {
    .news_container {
        display: inline-block;
        width: 40%;
    }
    #content>h2 {
        padding-top: 0.5em;
    }
    .footer_column {
        width: 50%;
    }
    .element img {
        width: 80%;
        height: auto;
    }
    .product_Img_Container {
        width: 30%;
    }
    .product_Text_Container {
        width: 70%;
    }
    .productButtons {
        width: 45%;
        display: inline-block;
        padding-bottom: 1em;
    }
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/*DESKTOP*/


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media only screen and (min-width: 830px) {
    #logo {
        max-height: 9em;
        max-width: 14em;
    }
    #general_container {
        min-height: 59.3%;
    }
    .logo_column {
        width: 40%;
    }
    .title_column {
        width: 60%;
    }
    .menu_column {
        width: 25%;
    }
    .body_column {
        width: 75%;
    }
    .footer_wrapper {
        width: 70%;
    }
    .admin_column {
        width: 27%;
        padding-top: 0em;
        padding-left: 0%;
        padding-right: 0%;
    }
    #header h1 {
        font-size: 1.7em;
        text-align: right;
        padding-top: 1.8em;
        padding-right: 5%;
    }
    #menu ul li {
        text-align: left;
        padding: 0.5em 1em 0em 1em;
        border: none;
    }
    #menu ul li a {
        text-align: left;
        float: none;
    }
    .desktop_hidden {
        display: none;
    }
    .news_container {
        width: auto;
        display: block;
    }
    .general_image {
        width: 60%;
        height: auto;
    }
    .mobile_hidden {
        position: relative;
        left: 0;
    }
    #footer img {
        vertical-align: middle;
        display: inline;
        margin: 0em;
    }
    #submit_login_form {
        margin-bottom: 0.5em;
    }
    #login_input {
        width: 56%;
    }
    #login_error {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 4em;
        background-color: red;
        text-align: center;
    }
    #text_error {
        position: absolute;
        width: 80%;
        left: 0;
        top: 0.2em;
        font-size: 2em;
        color: white;
        padding-left: 3em;
    }
    .shift_down {
        position: relative;
        top: 4em;
    }
    .general_input {
        width: 45%;
    }
    .login_buttons {
        text-align: center;
        width: 100%;
    }
    .to_top_button {
        bottom: 1.5em;
        right: 2.5em;
    }
    .admin_login {
        padding-top: .7em;
    }
}