*{
    margin: 0em;
    padding: 0em;
    max-width:100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

body{
    max-width: 1368px;
    min-width: 360px;
    margin: auto;
    background-color: #FFAC61;
}

/*tags*/
input[type=text],input[type=password]{
    width: 8em;
}

form legend{
    text-align: center;
}
form fieldset{
    padding: 1em 5% 1em;
    border: 1px solid brown;
}
form label, form input{
    margin: 1em;
}

/*containers*/
.box{
    overflow: hidden;
}

.box > *{
    float: left;
    display: inline-block;
}
.thin_column{
    width: 15%;
}
.a_quarter_column{
    width: 25%;
}
.one_third_column{
    width: 33.3%;
}
.half_column{
    width: 50%;
}
.three_quarter_column{
    width: 75%;
}
.large_column{
    width: 85%;
}
.a_column{
    width: 100%;
}

.hidden{
    font-size: 0px;
    text-indent:100%;
    white-space:nowrap;
    overflow:hidden;
}

/*specific*/

#logo{
    content: url("../images/logo.png");
    padding-left: 1em;
    min-height: 4.3em;
    min-width: 9.7em;
}
#header h2{
    text-align: center;
    padding-top: 2em;
}
#header{
    min-height: 9em;
    background-color: #EC7205;
    color: #924500;
}

#breadcrumb p{
    padding-left: 1em;
}

#breadcrumb{
    background-color: #BC5800;
    color:white;
    padding: 0.5em 0 0.5em 0;
}

#login *{
    display: block;
}

#login a{
    font-size: 0.8em;
}
#login{
    padding: 0 1em 1em 1em;
    overflow:hidden;
}
#login form label, #login form input, #login a{
    margin: 0.5em;
}

#registrazione{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #BC5800;
    color:white;
    font-size: 1em;
    padding: 1em;
}

#registrazione a{ 
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
}

#registrazione a:hover{
    text-decoration: underline;
}

#general_container{
    background-color: #FFF7E6;
}

#menu{
    padding: 1em;
    overflow:hidden;
    font-size: 1.5em;
}

#menu dl dt{
    padding-bottom: 1em;
}

#menu dl dt a{
    text-decoration: none;
    color: black;
}
#menu dl dt a:visited{
    color: purple;
}

#menu dl dt a:hover{
    color: red;
}

#menuLoginRegistrazione{
    display: none;
}


#content >p{
    padding: 1.5em;
}

#content >h1{
    padding: 0.5em;
}

#content{
    background-color: white;
    text-align: center;
}


#contentLoginRegistrazione{
    padding: 5% 15% 5%;
}

#footer > p{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

#footer{
    background-color: #BC5800;
    color:white;
}


