* {
    margin:0;
    padding:0;
    font-size: 1em;
    font-family: sans-serif;
    box-sizing:border-box;
    max-width:100%;
}

p{
    text-align:left;
}

body {
    max-width: 1200px;
    min-width: 264px;
}

#header {
    background-color: #333333;
}

#logo {
    max-height:5em;
}

#logocontainer{
    max-height:5em;
}

#hamburger {
    background-image: url('../img/header/burger2.svg');
    background-size: cover;
    width: 2em;
    height: 2em;
    margin: auto;
    margin-top: 1.5em;
    display: none;
}

#hamburger.mobile {
    display: block;
}

#menu.mobile.show {
    display: block;
}

#menu.mobile {
    display: none;
}

#currentLink{
    background-color:#cccccc;
    color:black;
}

#menu {
    list-style-type: none;
    margin:auto;
    max-width:80%;
}

#menu li {
    text-align: center;
    padding: 0.5em;
    border: 2px solid #333333;
}

#menu > li:not(#currentLink){
    background-color: #f1f1f1;
}

#menu > li:last-of-type {
    margin-bottom: 1em;
}

#menu > li:nth-of-type(2) {
    margin-top: 1em;
}

#menu li > a{
    text-decoration:none;
    color:black; 
    display:inline-block;
    width:100%;
    height:100%;
}

#menu li > a:visited{
    text-decoration:none;
    color:purple; 
}

/*gestione colori link*/
a{
    color:blue;
}

a:visited{
    color:purple;
}

#breadcrumbs {
    background-color:#cccccc;
    padding-top: 0.3em;
    padding-left: 0.3em;
    padding-bottom: 0.3em;
    color:black;
}

#content {
    padding:1em;
}

#content h1{
    font-size:1.3em;
}

#content h2{
    font-size:1em;
    margin-top: 0.5em;
}

#formRicerca label {
    background-color:#333333;
    color:white;
    text-align:center;
}

#formRicerca{
    float:right;
    border:2px solid #333333;
    margin-bottom:1em;
}

#formRicerca input[type=text]{
    border:none;
    width:7em;
    margin:0.1em;
    padding:0.5em;
    float:left;
}

#formRicerca input[type=submit]{
    background-color:#333333;
    color:white;
    height:2em;
    margin:0.2em;
    cursor: pointer;
    border:none;
    float:right;
}

.infomodello ul{
    list-style-type:none;
}

.infomodello ul li{
    margin-top:0.5em;
    margin-bottom:0.5em;
    text-align:right;
}

.infomodello ul li span:first-child{
    font-weight: bold;
    float:left;
}

#immagineprincipale {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#eventiprossimi .treColonne {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#eventiprossimi .treColonne img{
    width:100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#eventiprossimi .treColonne h1{
    font-size:1.2em;
}

#eventiprossimi .treColonne h2{
    font-size:1.0em;
}

/*MOSTRE*/
.riquadro{
    background-color:white;
    margin-bottom: 2em;
}

#elencoMostre, #elencoMostre p{
    text-align:center;
}

#elencoMostre ul {
    list-style-type:none;
    background-color:white;
    width: 50%;
    margin: auto;
}

#elencoMostre li {
    margin-top: 1em;
}

#elencoMostre li p{
    margin-top: 0.3em;
}

.immagineprincipale{
    width:100%;
    margin-top: 0.8em;
}

#eventoprincipale p{
    margin-top:0.5em;
}

.pulsantePag a{
    text-decoration:none;
}

#current p{
    text-align:center;
}

.vuotoSinistro{
    margin-left:33.3%;
}

.vuotoDestro{
    margin-right:33.3%;
}

#next, #back{
    color:white;
    text-align:center;
    width:45%;
    background-color:#333333;
    margin:0.5em;
    margin-left:auto;
    margin-right:auto;
}

#current{
    color:white;
    text-align:center;
    width:45%;
    background-color:#333333;
    padding:0.5em;
    margin:0.5em;
    margin-left:auto;
    margin-right:auto;
}

#next a, #back a{
    color:white;
    padding:0.5em;
    display:inline-block;
    width:100%;
    height:100%;
}

#prenotabiglietti p, #prenotabiglietti h1{
    padding:0.5em;
}

#prenotabiglietti h1{
    font-size:1.3em;
}

#prenotabiglietti ul{
    margin-left:3em;
    margin-bottom:0.5em;
}

.error{
    color:#990000;
}

.status{
    color:#006600;
}

.formfield > *{
    margin-bottom: 0.7em;
}

.formfield input{
    max-width:100%;
}
label{
    display:block;
    padding-bottom:0.2em;
    padding-top:0.2em;
}

#newsletter fieldset{
    padding:0;
    margin:0;
    margin-bottom:1em;
}

#newsletter label{
    display:inline;
}

#newsletter h1{
    margin-bottom:0.3em;
}

#comeRaggiungerci h1{
    margin-bottom:0.3em;
}

#contattaci h1{
    margin-bottom:0.3em;
}

#contattaci fieldset{
    padding:0;
    margin:0;
    margin-top:1em;
    margin-bottom:1em;
}

fieldset{
    padding:0.5em;
    background-color:#cccccc;
    margin:0.5em;
    border:none;
}

legend{
    font-size:1.1em;
    background-color:#333333;
    color:white;
    padding:0.3em 1em 0.3em 1em;
}

fieldset > *{
    margin:0.5em;
}

input, select{
    border:none;
    padding:0.3em;
    background-color:white;
}

.formfield input[type=submit], input[type=reset]{
    border:none;
    background-color:#333333;
    color:white;
    padding:0.3em 1em 0.3em 1em;
    cursor:pointer;
}

textarea{
    border:none;
    padding:0.5em;
    resize:none;
    width:95%;
    margin-bottom:0.5em;
}

#maps{
    display:block;
    margin:auto;
    margin-top:1.0em;
    margin-bottom:1.0em;
    width:90%;
    height:15em;
}

#totop{
    background-image:url('../img/header/toTop.svg');
    position:fixed;
    bottom: 2em;
    right: 2em;
    width:2.8em;
    height:2.8em;
    color: transparent;
}

#saltamenu, #saltamenu a{
    font-size:0;
    width:0;
}

#comeRaggiungerci p:first-of-type{
    margin-bottom:1em;
}

/*FOOTER*/
#footer {
    padding:2em;
    text-align:center;
    background-color:#333333;
    color:white;
}

#footer p{
    text-align:center;
    margin-top:1.5em;
    margin-bottom:1.5em;
}
/*Generale*/
.container {
    overflow: hidden;
}

.container > * {
    float: left;
    display:inline-block;
}

.pulsantePag{
    width:100%;
}
