* {
    font-family: Georgia, 'Times New Roman', serif;
	color:black;
}

body, p{
	text-align:justify;
}

#currentlink{
	display:block;
}

h1{
	padding-top:1.0em;
	padding-bottom:1.0em;
}

#content h1{
    font-size:1.5em;
}

#content h2{
    font-size:1.2em;
}

#menu, #breadcrumbs, #language, img, #formRicerca, #totop, #formNews, #formContattaci, #maps{
	display:none;
}

#eventiprossimi p{
    padding-bottom:1em;
}

legend{margin:0;padding:0;color:black;}

input, select{
    border:1px solid black;
}

.formfield p, .formfield input[type=submit],.formfield input[type=reset] {
    display:none;
}

#footer{
	margin-top:3em;
    padding-top:1em;
    text-align:center;
    border-top: 1px solid #DDD;
}