<div class="box admin_column">
    <form_to_insert/>
        <fieldset id="fieldset_login">
            <legend>Area Amministratore</legend>
            <p id="login_error_ajax"></p>
            <div class="input_line">
                <label for="username"><span xml:lang="en">Username: </span></label>
                <input class="general_input" id="username" type="text" name="username" minlength="1" maxlength="15" aria-required="true"/>
            </div>
            <div class="input_line">
                <label for="password"><span xml:lang="en">Password:  </span></label>
                <input class="general_input" id="password" type="password" name="password" minlength="1" maxlength="15" aria-required="true"/>
            </div>
            <span class="hidden">Accedi</span>
            <input id="submit_login_form" class="general_button" type="submit" value="Accedi" name="Login"/>
            
            <a class="desktop_hidden general_button" id="exit_login_form" onclick="toggleLogin(this)">Esci</a>  
        </fieldset>
    </form>
    <div id="login_admin">
        <a class="desktop_hidden general_button" onclick="toggleLogin(this)">Accesso amministratore</a>   
    </div>                     
</div>