<div class="container admin_column admin_login">
    <form_to_insert/>
    <fieldset id="fieldset_login">
        <legend>Area Amministratore</legend>
        <error_login_to_insert/>
        <div class="input_line">
            <label for="username" aria-hidden="true" aria-label=": Username:"><span xml:lang="en">Username:</span></label>

            <input class="general_input" id="username" type="text" name="username" maxlength="15" aria-required="true" />
        </div>
        <div class="input_line">
            <label for="password"><span xml:lang="en">Password:</span></label>
            <input class="general_input" id="password" type="password" name="password" maxlength="15" aria-required="true" />
        </div>
        <div class="login_buttons">
            <input id="submit_login_form" class="general_button" type="submit" value="Accedi" name="Login" aria-label="Accedi" />
        </div>
        <div class="desktop_hidden login_buttons">
            <a class="general_button" id="exit_login_form" onclick="toggleLogin(this)">Esci</a>
        </div>
    </fieldset>
    </form>
    <div id="login_admin" class="desktop_hidden">
        <a class="general_button desktop_hidden" onclick="toggleLogin(this)">Accesso amministratore</a>
    </div>
</div>