<div class="body_column content">
    <h2><title_h2_to_insert/></h2>
     <prev_page_to_insert/>
            <fieldset>
                <legend><legend_to_insert/></legend>
                <div class="input_line">
                    <label for="title">Titolo: </label>
                    <title_to_insert/>
                </div>
                <div class="input_textarea">
                <label for="description">Descrizione: </label>
                <textarea class="general_input general_textarea" rows="12" cols="70" name="description" id="description"> 
                    <content_to_insert/>
                </textarea> 
                <type_to_insert/>
                <id_to_insert/>
                </div>
                <submit_to_insert/>
            </fieldset>
        </form>
    </div>