<div class="body_column content">

    <div class="element">
        <h2>
            <title_h2_to_insert/>
        </h2>
        <p><span class="hidden">:</span>Si invita l'amministratore a collaborare per mantenere l'accessibilità (1) e semanticità (2)(3) al sito, seguendo queste istruzioni:</p>
        <ol>
            <li>Inserire una parola in lingua straniera con la sintassi: [lingua=testo] (ex. [en=<span xml:lang="en">hello</span>])</li>
            <li>Inserire una parola o frase in grassetto con la sintassi: [*testo*] (ex. [*Maestro*])</li>
            <li>Inserire una parola o frase in corsivo con la sintassi: [-testo-] (ex. [-Maestro-])</li>
        </ol>
        <p class="hidden">
            1: Inserire una parola in lingua straniera con la sintassi: aperta parentesi quadra, lingua=testo, chiusa parentesi quadra. Esempio: aperta parentesi quadra, en=<span xml:lang="en">hello</span>, chiusa parentesi quadra. 2: Inserire una parola
            o frase in grassetto con la sintassi: aperta parentesi quadra, *testo* ,chiusa parentesi quadra. Esempio: aperta parentesi quadra, *Maestro*, chiusa parentesi quadra. 3: Inserire una parola o frase in corsivo con la sintassi: aperta parentesi
            quadra, meno, testo, meno, chiusa parentesi quadra. Esempio: aperta parentesi quadra, meno, Maestro, meno, chiusa parentesi quadra.
        </p>
        <p>Nel titolo, (2) e (3) per ovvi motivi non possono essere utilizzati.</p>
        <p>I campi contrassegnati con (*) sono obbligatori.</p>
    </div>
    <prev_page_to_insert/>
    <fieldset>
        <legend>
            <legend_to_insert/>
        </legend>

        <div class="element">
            <label for="title">Titolo*: </label>
            <span class="hidden">:Minimo 3 caratteri</span>
            <title_to_insert/><span class="input_suggestion" aria-hidden="true">(minimo 3 caratteri)</span>
            <p class="input_error_message" id="edit_title_error"></p>

            <file_to_insert/>

            <div class="input_textarea">
                <label for="description">Descrizione*: <span class="input_suggestion" aria-hidden="true">(minimo 20 caratteri)</span></label>
                <span class="hidden">:Minimo 20 caratteri</span>
                <textarea class="general_input general_textarea" rows="12" cols="70" minlength="20" maxlength="500" name="description" id="description"><content_to_insert/></textarea>
                <p class="input_error_message" id="edit_description_error"></p>
                <type_to_insert/>
                <id_to_insert/>
            </div>
            <div class="full_column center">
                <submit_to_insert/>
                <input class="general_button" type="reset" value="Ripristina" name="reset" aria-label="Ripristina" />
            </div>
        </div>
    </fieldset>
    </form>
</div>
</div>