<!-- Versione home.html -->
<div id="header" class="box a_column">
    <div class="a_quarter_column">
        <img id="logo" src="../images/logo.png" alt="Ti trovi nella pagina principale di Pasticceria Padovana"/>
    </div>
    <div class="three_quarter_column mobile_hidden">
        <h1>%</h1>
    </div>
</div>

<!-- Versione altre_pagine.html (cambia solo alt)
<div id="header" class="box a_column">
    <div class="a_quarter_column">
        <a href="home.html" title="Torna alla pagina principale"><img id="logo" src="../images/logo.png" alt="Torna alla pagina principale di Pasticceria Padovana"/></a>
    </div>
    <div class="three_quarter_column mobile_hidden">
        <h1>%</h1>
    </div>
</div>

-->