<div id="login" class="mobile_hidden">
    <form action="" method="post" role="form">
        <fieldset id="fieldsetLogin">
            <legend><strong>Accedi</strong></legend>
            <label for="username"><span xml:lang="en">Username</span></label>
            <input type="text" name="username" id="username" maxlength="20" tabindex="6" aria-required="true"/>
            <label for="password"><span xml:lang="en">Password</span></label>
            <input type="password" name="password" id="password" maxlength="20" tabindex="7" aria-required="true"/>
            <input type="submit" value="Accedi" tabindex="8" />
            <a href="registrazione.html" tabindex="9"> Non sei ancora registrato?</a>
        </fieldset>
    </form>
</div>