<div class="news_container">
    <a class="news_title" href="../php/contatti.php">Vieni a trovarci!<span id="maps_icon"></span></a>
    <dl class="news_content">
        <dt>
            <span aria-hidden="true">Lunedì - Venerdì:</span>
            <p class="hidden">Dal lunedì al venerdì, aperti</p>
        </dt>
        <dd>
            <span aria-hidden="true">7:00 - 12:30</span>
            <p class="hidden">al mattino dalle 7 alle 12 e 30,</p>
        </dd>
        <dd>
            <span aria-hidden="true">14:30 - 18:00</span>
            <p class="hidden">al pomeriggio dalle 14 e 30 alle 18.</p>
        </dd>
        <dt>
            <span aria-hidden="true">Sabato - Domenica:</span>
            <p class="hidden">Sabato e domenica, aperti</p>  
        </dt>
        <dd>
            <span aria-hidden="true">7:00 - 12:30</span>
            <p class="hidden">solo al mattino dalle 7 alle 12 e 30</p>
        </dd>
    </dl>
</div>